{% extends 'base.html.twig' %}

{% block title %}Hello FymController!{% endblock %}

{% block body %}

<section class="categories">

    <br><a href="{{ path('category_create') }}" class="btn btn-lg btn-dark">Ajouter catégorie</a><br><br>

    {% for category in categories %}
        
        <category>
            <h2>{{ category.label }}</h2>

            <div class="content">
                {{ category.description | raw}}
                <a href="{{ path('category_show', {id: category.id}) }}" class="btn btn-info">Voir la catégorie</a>

            </div>
        </category>
    {% endfor %}


</section>

{% endblock %}
