{% extends "base.html.twig" %}
{% block body %}
    <h1>{{title}}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem nulla, perferendis, vel magni, laboriosam doloribus eveniet aliquid rerum sint blanditiis excepturi autem placeat voluptates eaque quae distinctio aspernatur fuga?</p>
{% endblock %}
