{% extends 'base.html.twig' %}

{% block title %}Hello FymController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue au {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/Users/Charles/Documents/ECAM/4e_Applications_Web/FYM/src/Controller/FymController.php'|file_link(0) }}">src/Controller/FymController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/Users/Charles/Documents/ECAM/4e_Applications_Web/FYM/templates/fym/index.html.twig'|file_link(0) }}">templates/fym/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
