{% extends 'base.html.twig' %}

{% block title %}Hello FymController!{% endblock %}

{% block body %}

<section class="films">

    <article>
        <h2>Titre du film</h2>
        <div class="metadata">catégorie Action</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quia amet in vitae officiis voluptatem!</p>
            <a href="{{ path('movie_show') }}" class="btn btn-primary">Voir la fiche</a>
        </div>
    </article>
    <article>
        <h2>Titre du film</h2>
        <div class="metadata">catégorie Action</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Qui laboriosam hic nostrum temporibus ut perspiciatis incidunt, distinctio laudantium esse aspernatur, eius vitae vel.</p>
            <a href="{{ path('movie_show') }}" class="btn btn-primary">Voir la fiche</a>
        </div>
    </article>
    <article>
        <h2>Titre du film</h2>
        <div class="metadata">catégorie Action</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quia amet in vitae officiis voluptatem!</p>
            <a href="{{ path('movie_show') }}" class="btn btn-primary">Voir la fiche</a>
        </div>
    </article>

</section>

{% endblock %}
