{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>Titre du film</h2>
        <div class="metadata">catégorie Action</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quia amet in vitae officiis voluptatem!</p>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis vero quod omnis voluptas sequi nisi perferendis perspiciatis totam, quibusdam ipsum hic suscipit dolore libero assumenda numquam. Quas hic tenetur, ducimus, ex id iste quae dolorum veniam placeat, doloribus explicabo et sed quod nemo alias distinctio in quia odio. Amet, nulla?</p>
            <p>Quis doloremque unde sed, a eveniet cupiditate voluptates nisi modi esse, harum accusamus nihil, nulla vitae earum quasi maiores eos enim tenetur autem rerum sit dolores! Blanditiis, harum dolorem dolore quibusdam fugiat vero vel? Sed, rerum quasi, ipsam velit unde, consectetur ipsum quidem obcaecati eligendi repudiandae omnis nobis officia quibusdam!</p>
        </div>
    </article>
    
{% endblock %}