{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>{{ movie.title }}</h2>
            <div class="metadata">catégorie</div>
            <div class="content">
                <img src="{{ movie.image }}" alt="">
                {{ movie.content | raw}}
                <b>{{ movie.rating }} /5</b>
            </div>
    </article>
    
{% endblock %}